.metadata/*
JavaRest/.metadata/.log
JavaRest/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
JavaRest/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
JavaRest/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
JavaRest/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
JavaRest/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
JavaRest/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
JavaRest/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
JavaRest/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
JavaRest/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
JavaRest/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
JavaRest/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
JavaRest/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
JavaRest/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
JavaRest/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
